<div [class]="parentClass">
  <div class="w-100" fxLayout="column" fxLayoutAlign="center center">
    <div class="">
      <div class="loading-logo">
        <img src="assets/banner/money.png"
          class="logo-img d-inline-block" alt="logo">
      </div>
      <!-- <div class="comf banner-text">BobaShop</div> -->
    </div>
    <div class="loading-parent">
      <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
    <div class="secfont">
      Loading {{ message }} ...
    </div>
  </div>
</div>



